<h1>Greetings fans, learning springboot 3!</h1>
<p>
    In this chapter, we are learning how make a web app
    using  spring boot 3.0
</p>

<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>